

.container{
    width: 1100px;
    height: 1000px;
    background-color: aqua;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    border: 1px solid black;
} 


.first{
    width: 400px;
    height: 450px;
    background-color: violet;
    display: flex;   
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border: 1px solid black;
}
img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
}


ul{
    display: inline-block;
    font-size: medium;
    margin-right: 10px;
}

.f{
    margin: auto;
    padding: 0px;
}

